*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-style: italic;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 1px;
  color: rgb(80, 48, 99);
  background-color: rgb(204, 195, 206);
  background-size: cover;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.col {
  display: flex;
  flex-wrap: wrap;
}
.main {
  display: flex;
  flex-direction: column;
}
.title {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid rgb(112, 35, 122);
  text-transform: uppercase;
  color: rgb(112, 35, 122);
  text-shadow: 2px 2px rgb(238, 226, 56);
}
.col-one {
  flex: 0 1 30%;
  padding: 30px;
  margin-bottom: 30px;
  color: rgb(252, 247, 184);
  background-color: rgb(80, 48, 99);
  border-radius: 5px 0px 0px 5px;
  box-shadow: 10px 10px rgb(143, 125, 141);
}
.col-two {
  flex: 0 1 70%;

  padding: 30px;
  margin-bottom: 30px;
  background-color: rgb(245, 238, 247);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 10px 10px rgb(143, 125, 141);
}

.education-container {
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(245, 238, 247);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 10px 10px rgb(143, 125, 141);
}

.col-three {
  flex: 0 1 33.33%;
  padding: 20px;
  margin: 5px 10px 10px;
  background-color: rgb(183, 167, 192);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 8px 5px rgb(143, 125, 141);
}

.col-four {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px 10px 10px;
  background-color: rgb(227, 220, 231);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 8px 5px rgb(143, 125, 141);
}

/*--------------HEADER-------------*/
.header {
  overflow: hidden;
  margin-bottom: 20px;
}

.menu {
  width: 100%;
  min-height: 100px;
  padding: 20px 0px;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(245, 238, 247);
}

.menu-link {
  display: block;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(91, 64, 136);
  transition: all 0.5s;
}
.menu-link:hover {
  background-color: rgb(80, 48, 99);
  color: rgb(245, 243, 163);
}
/*-----------------PROFILE-----------*/
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 40px;
  background-color: rgb(245, 238, 247);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 10px 10px rgb(143, 125, 141);
}
.profile-photo {
  flex: 0 1 30%;
  padding: 30px;
  background-color: rgb(80, 48, 99);
}
.img-photo {
  width: 50%;
}
.name {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(91, 64, 136);
  text-shadow: 2px 2px rgb(238, 226, 56);
}
.profession {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(164, 158, 175);
}
.profile-content {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
  padding: 30px;
}
/*---------------------CONTACTS------------------*/

.contact-title {
  border-bottom: 2px solid rgb(252, 250, 136);
}

.contact-list li {
  position: relative;
  padding-left: 20px;
}
.contact-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(252, 250, 136);
  border-radius: 50%;
}
.contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  color: rgb(164, 158, 175);
  transition: all 0.5s;
}
.contact-link:hover {
  text-decoration: underline;
}

/*--------------SKILS---------------------*/
.skils {
  flex: 0 1 30%;

  padding: 20px;
}

.skills {
  font-weight: 600;
}

.list-skils li {
  position: relative;
  padding-left: 20px;
}
.list-skils li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(252, 250, 136);

  border-radius: 50%;
}

/*--------------CODE-----------------------*/

/*-----------------EDUCATION---------------*/

.education-list li {
  position: relative;
  padding-left: 20px;
}
.education-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(252, 250, 136);

  border-radius: 50%;
}
.education-item a {
  transition: all 0.5s;
}
.rs:hover {
  color: rgb(176, 11, 226);
  font-weight: 500;
}

li .cert {
  color: rgb(80, 48, 99);
  text-shadow: 2px 2px rgb(238, 226, 56);
  background-color: rgb(220, 172, 235);
}

li .cert:hover {
  color: rgb(59, 25, 211);
  background-color: rgb(231, 247, 9);
}
/*-----------------------PROJECTS----------*/

.projects-block {
  margin-bottom: 20px;
  background-color: rgb(245, 238, 247);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 10px 10px rgb(143, 125, 141);
}

.projects-title {
  padding: 10px;
  margin: 20px;
}
.content-projects {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.projects-iframe {
  padding-left: 20px;
}

.cv-link {
}

img.iframe-projects {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1px solid rgb(164, 158, 175);
  box-shadow: 10px 10px rgb(211, 189, 209);
  transition: 0.3s;
  margin-bottom: 30px;
}
.iframe-projects:hover {
  box-shadow: 20px 20px rgb(168, 157, 168);
}

.cv-link iframe {
  cursor: pointer;
}
/*-----------------------FOOTER----------------*/

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
}
.footer-info {
  font-size: 30px;
  font-weight: 600;
  color: rgb(252, 247, 184);
}

.icon-img {
  width: 40%;
}
/*--------------------------*/
@media (max-width: 768px) {
  .container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  .col-one {
    flex: 0 1 100%;
  }
  .col-two {
    flex: 0 1 100%;
  }
  .name {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 150%;
  }
}
